@media (max-width: 64em) {
    html {
        font-size: 56.25%;
    }

    main.screen-mode-full.main-section {
        margin-top: 9.2vh;
        flex-direction: column;
    }

    .screen-mode-full.main-section .heading-secondary {
        font-size: 3rem;
        margin-bottom: 1.2rem;
    }

    .screen-mode-full.main-section .letters {
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }

    .screen-mode-full.main-section .letter-input {
        height: 6.8rem;
        width: 6.8rem;
        border: 0.6rem solid var(--dark-brown-color);
        font-size: 4.2rem;
    }

    .screen-mode-full.main-section .editing-input {
        border-bottom: 1.2rem solid var(--dark-brown-color);
    }

    .screen-mode-full.main-section .yellow-green-wrap {
        justify-content: flex-start;
        gap: 3.64rem;
        margin-top: 3.64rem;
    }

    .screen-mode-full.main-section .enter-btn {
        border: 0.48rem solid var(--dark-brown-color);
        border-radius: 1.2rem;
        padding: 1rem 2.8rem;
        font-size: 2rem;
        left: 50%;
        bottom: -70%;
        transform: translateX(-50%);
    }

    .screen-mode-full.main-section .reset-btn {
        font-size: 2.6rem;
        border: 0.48rem solid var(--dark-brown-color);
        border-radius: 1.2rem;
        padding: 1rem;
        left: 76.4%;
        bottom: -71%;
        transform: translateX(-50%);
    }

    .help-modal .help-modal-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 4rem;
        height: 80vh;
        padding: 4rem;
    }

    .help-modal .help-modal-container::before {
        content: "";
        height: 74vh;
        position: absolute;
        left: 59.4%;
        padding: 0 0.18rem;
        background-color: var(--dark-brown-color);
        border-radius: 1rem;
    }

    .help-modal-container .help-text {
        font-size: clamp(1rem, 3vh, 2.2rem);
    }

    .help-text-1 {
        grid-column: 1 / span 3;
        justify-self: center;
    }

    .help-modal-container .help-letters-sections .heading-tertiary {
        font-size: clamp(1rem, 3.2vh, 2.6rem);
        margin-bottom: clamp(1rem, 2.18vh, 1rem);
    }

    .help-modal-container .help-letter-list {
        row-gap: 0.6vh;
        column-gap: 0.6vh;
    }

    .help-modal-container .help-letter {
        font-size: 3.8vh;
        height: clamp(1rem, 6.53vh, 5.8rem);
        width: clamp(1rem, 6.53vh, 5.8rem);
    }

    .help-modal-container .help-example-list {
        grid-column: 1 / span 3;
        justify-self: center;
    }

    .help-text-2 {
        grid-column: 1 / span 3;
        grid-row: 3;
        justify-self: center;
    }

    .help-modal-container .help-letters-sections {
        grid-column: 4 / span 2;
        grid-row: 1 / span 4;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        row-gap: 3.2vh;
        /* overflow-y: scroll; */
    }

    .help-modal-container .help-yellow-green-wrap {
        gap: 3.26vh;
    }

    .help-modal-container .help-result {
        align-self: center;
    }

    .result-modal .result-title {
        font-size: 5.17vh;
    }

    .result-modal .possible-words-box {
        width: 50rem;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 55%;
    }

    .main-header .change-screen-btn,
    .main-header .help-btn,
    .main-header .language-switch {
        top: 110%;
    }

    .main-header .change-screen-btn {
        left: 36%;
        transform: translate(-50%, -10%);
    }

    .main-header .change-screen-btn:hover {
        transform: translate(-50%, -18%);
    }

    .main-header .help-btn {
        right: 50%;
        transform: translateX(50%);
    }

    .main-header .help-btn:hover {
        transform: translate(50%, -8%);
    }

    .main-header .language-switch {
        right: 36%;
        transform: translate(50%, -10%);
    }

    .main-header .language-switch:hover {
        transform: translate(50%, -18%);
    }

    .help-modal .help-modal-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 1.4rem 1.4rem 0 1.4rem;
    }

    .help-modal .help-letter-list {
        row-gap: 0.36vh;
        column-gap: 0.36vh;
    }

    .help-modal .help-letter {
        font-size: 2.4vh;
        height: 4.56vh;
        width: 4.56vh;
    }

    .help-modal .help-letters-sections .heading-tertiary {
        font-size: clamp(0.2rem, 2vh, 2rem);
    }

    .help-modal .help-default-letter {
        border: 0.36vh solid var(--medium-brown-color);
    }

    .help-modal .help-selected-letter {
        border-bottom: 0.72vh solid var(--medium-brown-color);
    }

    .help-modal .help-text {
        font-size: 1.68vh;
        word-spacing: 1.8px;
        line-height: normal;
    }

    .help-modal .help-example-list {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .help-modal .help-modal-container::before {
        content: none;
    }

    .help-modal .help-text-1 {
        grid-column: 1;
    }

    .help-modal .help-text-2 {
        grid-row: 2;
        grid-column: 2;
    }

    .help-modal .help-strong-word {
        font-size: 1.56vh;
        border-width: 0.24vh;
        height: 3.6vh;
        width: 7.2vh;
    }

    .help-modal .help-letters-sections {
        grid-column: 1 / span 2;
        grid-row: 3;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        overflow-y: visible;
    }

    .help-modal .help-result {
        grid-column: 1 / span 2;
    }

    .help-modal .help-result-words span {
        font-size: 1.92vh;
        height: 3.84vh;
        width: 7.92vh;
    }

    .main-section .arrow {
        top: 136%;
    }

    .main-section .left-arrow {
        left: 10%;
    }

    .main-section .right-arrow {
        right: 10%;
    }

    .main-section .black-section .right-arrow {
        top: 108%;
    }

    .main-section .enter-btn {
        bottom: -70%;
    }

    dialog.result-modal {
        width: 46rem;
    }

    .result-modal .result-modal-container {
        height: 52rem;
    }

    .result-modal .result-title {
        font-size: 3.2rem;
        margin: 2.2rem 0 4rem 0;
    }

    .result-modal-container .possible-words-box {
        width: 36rem;
        height: 31.4rem;
    }

    .result-modal .possible-words-box span {
        width: 8rem;
        height: 5rem;
        font-size: 2rem;
    }

    .possible-words-box .load-more-btn {
        font-size: 3.8rem;
        padding: 0.6rem 15.2rem;
    }

    footer.footer {
        bottom: 0.4%;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 50%;
    }

    body .main-header {
        padding-top: 3rem;
    }

    .main-header .heading-primary {
        font-size: 4.2rem;
    }

    .main-header .change-screen-btn,
    .main-header .help-btn {
        top: 110%;
    }

    .main-header .change-screen-btn {
        display: none;
    }

    .main-header .help-btn {
        right: 50%;
        transform: translateX(50%);
    }

    .main-header .help-btn:hover {
        transform: translate(50%, -12%);
    }

    .help-modal .help-modal-container {
        grid-template-rows: auto;
        column-gap: 0;
        row-gap: 1rem;
        padding: 0.8rem;
    }

    .help-modal .help-text {
        font-size: 1.2rem;
    }

    .help-modal .help-strong-word {
        font-size: 1.2rem;
        height: 2.7rem;
        width: 5.7rem;
    }

    .help-modal .heading-tertiary {
        font-size: 1.3rem;
    }

    .help-modal .help-letter-list {
        column-gap: 0.2rem;
        row-gap: 0.2rem;
    }

    .help-modal .help-letter {
        font-size: 1.8rem;
        height: 3.1rem;
        width: 3.1rem;
    }

    .help-modal .help-letters-sections {
        grid-template-rows: repeat(2, auto);
        row-gap: 1.4rem;
    }

    .help-modal .help-result {
        align-self: flex-start;
    }

    .help-modal .help-result-words {
        gap: 0.5rem;
    }

    .help-modal .help-result-words span {
        font-size: 1.4rem;
        height: 2.8rem;
        width: 6rem;
    }

    body .main-section {
        margin-top: clamp(10rem, 12vh, 24vh);
    }

    .main-section .heading-secondary {
        font-size: 3rem;
    }

    .main-section .letters {
        row-gap: 0.3rem;
        column-gap: 0.3rem;
    }

    .main-section .letter-input {
        height: 6rem;
        width: 6rem;
        border: 0.5rem solid var(--dark-brown-color);
        font-size: 3.4rem;
        border-radius: 1rem;
    }

    .main-section .letter-input:focus {
        border-bottom: 1rem solid var(--dark-brown-color);
    }

    body .main-section .arrow {
        top: 110%;
    }

    .main-section .enter-btn {
        font-size: 1.8rem;
        bottom: -76%;
        padding: 0.8rem 2.2rem;
        border: 0.48rem solid var(--dark-brown-color);
    }

    .main-section .reset-btn {
        font-size: 2.8rem;
        padding: 0.55rem;
        left: 77%;
        bottom: -76.6%;
    }

    .mobile-keyboard {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 0.5rem;
        margin-top: 14vh;
    }

    .mobile-key {
        font-size: 2rem;
        font-weight: 700;
        height: 5.8rem;
        width: 4rem;
        color: var(--white-color);
        border-radius: 0.6rem;
        text-transform: uppercase;
        background-color: var(--dark-brown-color);
        border: none;
        cursor: pointer;
    }

    .mobile-key-backspace {
        font-size: 2.6rem;
        vertical-align: middle;
    }

    .mobile-key-enter {
        width: 12rem;
        grid-column: span 3;
        justify-self: end;
    }

    dialog.result-modal {
        width: 34rem;
    }

    .result-modal .result-modal-container {
        height: 42rem;
    }

    .result-modal .possible-words-box {
        width: 30rem;
    }

    .result-modal .result-title {
        margin: 2rem 0 4rem 0;
        font-size: 2.5rem;
    }

    .result-modal .possible-words-box {
        height: 26rem;
        gap: 0.68rem;
    }

    .result-modal .possible-words-box span {
        font-size: 1.6rem;
        width: 6.8rem;
        height: 4.2rem;
    }

    .result-modal .close-btn {
        font-size: 3.4rem;
    }

    .result-modal .load-more-btn {
        font-size: 3.6rem;
        padding: 0.3rem 12.8rem;
    }

    footer.footer,
    footer.footer-icon {
        font-size: 1rem;
    }
}
