/* #4C4347 */
/* #615458 */
/* #6E5C62 */
/* #3aa394 */
/* #D3AD69 */

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap");

/* Global
------------------------------------- */

:root {
    /* Color Variables */

    --white-color: #f3f4f6;
    --grey-color: #c2c3c5;
    --black-color: #1f2937;
    --yellow-color: #d3ad69;
    --green-color: #3aa394;
    --dark-brown-color: #4c4347;
    --medium-brown-color: #615458;
    --light-brown-color: #6e5c62;
    --red-color: #fa5252;
    --dark-red-color: #e14a4a;
    --light-blue-color: #91a7ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    user-select: none;
    /* font-size: 10px; */
}

body {
    font-family: "Signika Negative", sans-serif;
    /* Single Viewport */
    background-color: var(--light-brown-color);
    height: 100vh;
}

.heading-primary,
.heading-secondary {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
}

.heading-primary {
    position: relative;
    font-size: 3.5rem;
    letter-spacing: -0.1rem;
    word-spacing: 0.6rem;
    display: inline-block;
}

.heading-secondary {
    font-size: 2.4rem;
    margin-bottom: 2.6rem;
}

.hide {
    display: none;
}

.blocked-input {
    background-color: var(--dark-brown-color) !important;
}
/* Global
------------------------------------- */
/* Screen Mode Full
------------------------------------- */

/* Class setted on main section */
.screen-mode-full {
    gap: 7rem;
    margin-top: 10rem !important;
}

.screen-mode-full .main-header {
    padding: 1.7rem 0 10rem 0;
}

.screen-mode-full .black-section,
.screen-mode-full .yellow-section,
.screen-mode-full .green-section {
    display: block;
}

.screen-mode-full .heading-secondary {
    font-size: 2.2rem;
}

.screen-mode-full .letter-input {
    height: 5.6rem;
    width: 5.6rem;
    font-size: 2.8rem;
}

.screen-mode-full .arrow {
    display: none;
}

.screen-mode-full .enter-btn {
    left: -74%;
    bottom: -156%;
    font-size: 1.5rem;
    padding: 0.7rem 2.7rem;
    border: 0.4rem solid var(--dark-brown-color);
}

/* Screen Mode Full
------------------------------------- */
/* Header
------------------------------------- */

.main-header {
    padding-top: 1.7rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-header span {
    display: inline-block;
    transition: all 300ms ease;
}

.main-header span:hover {
    transform: translateY(-6%);
}

.main-header span:nth-of-type(2) {
    color: var(--green-color);
}

.change-screen-btn,
.help-btn {
    font-size: 1.4rem;
    color: var(--grey-color);
    border-radius: 8px;
    padding: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 300ms ease;
}

.change-screen-btn:hover,
.help-btn:hover {
    color: var(--white-color);
    transform: translateY(-56%);
}

.change-screen-btn {
    font-size: 2rem;
    left: -20%;
}

.help-btn {
    border: 2px solid var(--grey-color);
    right: -20%;
}

.help-btn:hover {
    border: 2px solid var(--white-color);
}

/* Header
------------------------------------- */

/* Main
------------------------------------- */

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;
}

.arrow {
    font-size: 2.8rem;
    color: var(--white-color);
    position: absolute;
    cursor: pointer;
    border-radius: 1.2rem;
    padding: 0.2rem;
    transition: all 280ms;
}

.left-arrow,
.right-arrow {
    top: 50%;
}

.left-arrow {
    left: -30%;
}

.left-arrow:hover {
    transform: scale(1.1);
}

.right-arrow {
    right: -30%;
}

.right-arrow:hover {
    transform: scale(1.1);
}

.letters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.4rem;
    column-gap: 0.4rem;
}

.letter-input {
    height: 6rem;
    width: 6rem;
    background-color: var(--light-brown-color);
    border: 0.46rem solid var(--dark-brown-color);
    border-radius: 0.8rem;
    font-size: 3.2rem;
    color: var(--white-color);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 140ms ease;
}

.editing-input {
    border-bottom: 0.9rem solid var(--dark-brown-color);
}

.black-section,
.yellow-section,
.green-section {
    position: relative;
}

.enter-btn {
    border: 0.4rem solid var(--dark-brown-color);
    border-radius: 0.8rem;
    background-color: var(--dark-brown-color);
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: inherit;
    position: absolute;
    left: 50%;
    bottom: -70%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background-color 200ms ease, border 200ms ease;
    box-sizing: border-box;
}

.enter-btn:hover {
    background-color: var(--light-brown-color);
}

.enter-btn:active {
    border-color: var(--medium-brown-color);
    background-color: var(--medium-brown-color);
}

/* Black Section */

.black-title span {
    color: var(--black-color);
}

.black-section .filled-input {
    background-color: #1f2937;
    border: none;
}

.black-section .arrow {
    top: 18.6%;
}

.black-section .arrow:hover {
    background-color: #1f2937;
}

/* Yellow Section */

.yellow-title span {
    color: var(--yellow-color);
}

.yellow-section .filled-input {
    background-color: var(--yellow-color);
    border: none;
}

.yellow-section .arrow:hover {
    background-color: var(--yellow-color);
}

/* Green Section */

.green-title span {
    color: var(--green-color);
}

.green-section .filled-input {
    background-color: var(--green-color);
    border: none;
}

.green-section .arrow:hover {
    background-color: var(--green-color);
}

/* Main
------------------------------------- */

/* Result
------------------------------------- */

.result-modal {
    user-select: none;
    height: 32rem;
    width: 42rem;
    background-color: #312b2d;
    border: none;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.result-modal::backdrop {
    background-color: rgba(46, 46, 46, 0.4);
}

.result-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.result-title {
    margin: 1rem 0 4.8rem 0;
    word-spacing: 0.4rem;
}

.possible-words-box {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    flex-wrap: wrap;
}

.possible-words-box span {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--yellow-color);
    padding: 10px 0;
    border-radius: 1rem;
    width: 8rem;
    text-align: center;
    transition: all 180ms ease;
}

.possible-words-box span:hover {
    background-color: var(--green-color);
    transform: scale(1.04);
}

.close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 2.8rem;
    color: var(--red-color);
    cursor: pointer;
    transition: all 180ms ease;
}

.close-btn:hover {
    transform: scale(1.08);
    color: var(--dark-red-color);
}

/* Result
------------------------------------- */

/* Footer
------------------------------------- */

.footer {
    color: var(--black-color);
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    left: 0.6%;
    bottom: 1%;
}

.footer-icon {
    font-size: 0.8rem;
    color: var(--black-color);
    margin-right: 0.2rem;
}
