/* #4C4347 */
/* #615458 */
/* #6E5C62 */
/* #3aa394 */
/* #D3AD69 */

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap");

:root {
    /* Color Variables */
    --white-color: #f3f4f6;
    --grey-color: #c2c3c5;
    --black-color: #191919;
    --yellow-color: #d3ad69;
    --green-color: #3aa394;
    --dark-brown-color: #4c4347;
    --medium-brown-color: #615458;
    --light-brown-color: #6e5c62;
    --red-color: #fa5252;
    --dark-red-color: #e14a4a;
    --light-blue-color: #91a7ff;
}

/* Media Queries
------------------------------------- */

@media (max-width: 1024px) {
    main.screen-mode-full.main-section {
        margin-top: 9.2vh;
        flex-direction: column;
    }

    .screen-mode-full.main-section .heading-secondary {
        font-size: 3rem;
        margin-bottom: 1.2rem;
    }

    .screen-mode-full.main-section .letters {
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }

    .screen-mode-full.main-section .letter-input {
        height: 6.8rem;
        width: 6.8rem;
        border: 0.6rem solid var(--dark-brown-color);
        font-size: 4.2rem;
    }

    .screen-mode-full.main-section .editing-input {
        border-bottom: 1.2rem solid var(--dark-brown-color);
    }

    .screen-mode-full.main-section .yellow-green-wrap {
        justify-content: flex-start;
        gap: 3.64rem;
        margin-top: 3.64rem;
    }

    .screen-mode-full.main-section .enter-btn {
        border: 0.48rem solid var(--dark-brown-color);
        border-radius: 1.2rem;
        padding: 1rem 2.8rem;
        font-size: 2rem;
        left: 50%;
        bottom: -70%;
        transform: translateX(-50%);
    }

    .screen-mode-full.main-section .reset-btn {
        font-size: 2.6rem;
        border: 0.48rem solid var(--dark-brown-color);
        border-radius: 1.2rem;
        padding: 1rem;
        left: 76.4%;
        bottom: -71%;
        transform: translateX(-50%);
    }

    .help-modal .help-modal-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 4rem;
        height: 80vh;
        padding: 4rem;
    }

    .help-modal .help-modal-container::before {
        content: "";
        height: 90%;
        position: absolute;
        left: 59.4%;
        padding: 0 0.18rem;
        background-color: var(--dark-brown-color);
        border-radius: 1rem;
    }

    .help-modal-container .help-text {
        font-size: 2.2rem;
    }

    .help-text-1 {
        grid-column: 1 / span 3;
        justify-self: center;
    }

    .help-modal-container .help-letters-sections .heading-tertiary {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
    }

    .help-modal-container .help-letter-list {
        row-gap: 0.44rem;
        column-gap: 0.44rem;
    }

    .help-modal-container .help-letter {
        font-size: 2.8rem;
        height: 4.8rem;
        width: 4.8rem;
    }

    .help-modal-container .help-example-list {
        grid-column: 1 / span 3;
        justify-self: center;
    }

    .help-text-2 {
        grid-column: 1 / span 3;
        grid-row: 3;
        justify-self: center;
    }

    .help-modal-container .help-letters-sections {
        grid-column: 4 / span 2;
        grid-row: 1 / span 4;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        row-gap: 2.4rem;
    }

    .help-modal-container .help-yellow-green-wrap {
        gap: 2.4rem;
    }

    .help-modal-container .help-result {
        align-self: center;
    }

    .result-modal .result-title {
        font-size: 3.8rem;
    }

    .result-modal .possible-words-box {
        width: 50rem;
    }
}

@media (max-width: 768px) {
    .main-header .change-screen-btn,
    .main-header .help-btn,
    .main-header .language-switch {
        top: 110%;
    }

    .main-header .change-screen-btn {
        left: 36%;
        transform: translate(-50%, -10%);
    }

    .main-header .change-screen-btn:hover {
        transform: translate(-50%, -18%);
    }

    .main-header .help-btn {
        right: 50%;
        transform: translateX(50%);
    }

    .main-header .help-btn:hover {
        transform: translate(50%, -8%);
    }

    .main-header .language-switch {
        right: 36%;
        transform: translate(50%, -10%);
    }

    .main-header .language-switch:hover {
        transform: translate(50%, -18%);
    }

    .help-modal .help-modal-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 1.4rem 1.4rem 0 1.4rem;
    }

    .help-modal .help-letter-list {
        row-gap: 0.3rem;
        column-gap: 0.3rem;
    }

    .help-modal .help-letter {
        font-size: 2rem;
        height: 3.8rem;
        width: 3.8rem;
    }

    .help-modal .help-letters-sections .heading-tertiary {
        font-size: 2rem;
    }

    .help-modal .help-default-letter {
        border: 0.3rem solid var(--medium-brown-color);
    }

    .help-modal .help-selected-letter {
        border-bottom: 0.6rem solid var(--medium-brown-color);
    }

    .help-modal .help-text {
        font-size: 1.4rem;
        word-spacing: 1.8px;
        line-height: normal;
    }

    .help-modal .help-example-list {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .help-modal .help-modal-container::before {
        content: none;
    }

    .help-modal .help-text-1 {
        grid-column: 1;
    }

    .help-modal .help-text-2 {
        grid-row: 2;
        grid-column: 2;
    }

    .help-modal .help-strong-word {
        font-size: 1.3rem;
        border-width: 0.2rem;
        height: 3rem;
        width: 6rem;
    }

    .help-modal .help-letters-sections {
        grid-column: 1 / span 2;
        grid-row: 3;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
    }

    .help-modal .help-result {
        grid-column: 1 / span 2;
    }

    .help-modal .help-result-words span {
        font-size: 1.6rem;
        height: 3.2rem;
        width: 6.6rem;
    }

    .main-section .arrow {
        top: 136%;
    }

    .main-section .left-arrow {
        left: 10%;
    }

    .main-section .right-arrow {
        right: 10%;
    }

    .main-section .black-section .right-arrow {
        top: 108%;
    }

    .main-section .enter-btn {
        bottom: -70%;
    }

    dialog.result-modal {
        width: 46rem;
    }

    .result-modal .result-modal-container {
        height: 52rem;
    }

    .result-modal .result-title {
        font-size: 3.2rem;
        margin: 2.2rem 0 4rem 0;
    }

    .result-modal-container .possible-words-box {
        width: 36rem;
        height: 31.4rem;
    }

    .result-modal .possible-words-box span {
        width: 8rem;
        height: 5rem;
        font-size: 2rem;
    }

    .possible-words-box .load-more-btn {
        font-size: 3.8rem;
        padding: 0.6rem 15.2rem;
    }

    footer.footer {
        bottom: 0.4%;
    }
}

@media (max-width: 480px) {
    body .main-header {
        padding-top: 3rem;
    }

    .main-header .heading-primary {
        font-size: 4.6rem;
    }

    .main-header .change-screen-btn,
    .main-header .help-btn {
        top: 110%;
    }

    .main-header .change-screen-btn {
        display: none;
    }

    .main-header .help-btn {
        right: 50%;
        transform: translateX(50%);
    }

    .main-header .help-btn:hover {
        transform: translate(50%, -12%);
    }

    .help-modal .help-modal-container {
        grid-template-rows: auto;
        column-gap: 0;
        row-gap: 1rem;
        padding: 0.8rem;
    }

    .help-modal .help-text {
        font-size: 1.2rem;
    }

    .help-modal .help-strong-word {
        font-size: 1.2rem;
        height: 2.7rem;
        width: 5.7rem;
    }

    .help-modal .heading-tertiary {
        font-size: 1.3rem;
    }

    .help-modal .help-letter-list {
        column-gap: 0.2rem;
        row-gap: 0.2rem;
    }

    .help-modal .help-letter {
        font-size: 1.8rem;
        height: 3.1rem;
        width: 3.1rem;
    }

    .help-modal .help-letters-sections {
        grid-template-rows: repeat(2, auto);
        row-gap: 1.4rem;
    }

    .help-modal .help-result {
        align-self: flex-start;
    }

    .help-modal .help-result-words {
        gap: 0.5rem;
    }

    .help-modal .help-result-words span {
        font-size: 1.4rem;
        height: 2.8rem;
        width: 6rem;
    }

    body .main-section {
        margin-top: clamp(10rem, 28vh, 24vh);
    }

    .main-section .heading-secondary {
        font-size: 3.2rem;
    }

    .main-section .letters {
        row-gap: 0.4rem;
        column-gap: 0.4rem;
    }

    .main-section .letter-input {
        height: 6.4rem;
        width: 6.4rem;
        border: 0.5rem solid var(--dark-brown-color);
        font-size: 3.4rem;
    }

    .main-section .editing-input {
        border-bottom: 1rem solid var(--dark-brown-color);
    }

    .main-section .enter-btn {
        font-size: 2rem;
        bottom: -76%;
        padding: 1rem 2.8rem;
        border: 0.48rem solid var(--dark-brown-color);
    }

    .main-section .reset-btn {
        font-size: 3rem;
        padding: 0.8rem;
        left: 78%;
        bottom: -76.2%;
    }

    dialog.result-modal {
        width: 34rem;
    }

    .result-modal .result-modal-container {
        height: 42rem;
    }

    .result-modal .possible-words-box {
        width: 30rem;
    }

    .result-modal .result-title {
        margin: 2rem 0 4rem 0;
        font-size: 2.5rem;
    }

    .result-modal .possible-words-box {
        height: 26rem;
        gap: 0.68rem;
    }

    .result-modal .possible-words-box span {
        font-size: 1.6rem;
        width: 6.8rem;
        height: 4.2rem;
    }

    .result-modal .close-btn {
        font-size: 3.4rem;
    }

    .result-modal .load-more-btn {
        font-size: 3.6rem;
        padding: 0.3rem 12.8rem;
    }

    footer.footer,
    footer.footer-icon {
        font-size: 1rem;
    }
}

/* Media Queries
------------------------------------- */
/* Global
------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    user-select: none;
    font-size: 62.5%;
}

body {
    font-family: "Signika Negative", sans-serif;
    /* Single Viewport */
    background-color: var(--light-brown-color);
    height: 100vh;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
}

.heading-primary {
    position: relative;
    font-size: 5.2rem;
    letter-spacing: -0.1rem;
    word-spacing: 0.6rem;
    display: inline-block;
}

.heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 2.6rem;
}

.hide {
    display: none;
}

.blocked-input {
    background-color: var(--dark-brown-color) !important;
}
/* Global
------------------------------------- */
/* Screen Mode Full
------------------------------------- */

.screen-mode-full.main-section {
    gap: 6%;
    margin-top: 22rem;
}

.screen-mode-full .main-header {
    padding: 1.7rem 0 10rem 0;
}

.screen-mode-full .yellow-green-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 39rem;
}

.screen-mode-full .black-section,
.screen-mode-full .yellow-section,
.screen-mode-full .green-section {
    display: block;
}

.screen-mode-full .heading-secondary {
    font-size: 3.4rem;
}

.screen-mode-full .letter-input {
    height: 7.6rem;
    width: 7.6rem;
    font-size: 4.2rem;
    border: 0.64rem solid var(--dark-brown-color);
}

.screen-mode-full .editing-input {
    border-bottom: 1.28rem solid var(--dark-brown-color);
}

.screen-mode-full .arrow {
    display: none;
}

.screen-mode-full .enter-btn {
    bottom: -80%;
    left: -50%;
    transform: translateX(50%);
    display: block;
}

.screen-mode-full .reset-btn {
    bottom: -80%;
    left: -3.4%;
    transform: translateX(50%);
}

/* Screen Mode Full
------------------------------------- */
/* Header
------------------------------------- */

.main-header {
    padding-top: 1.8rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-header span {
    display: inline-block;
    transition: all 300ms ease;
}

.main-header span:hover {
    transform: translateY(-6%);
}

.main-header span:nth-of-type(2) {
    color: var(--green-color);
}

.change-screen-btn,
.help-btn,
.language-switch {
    color: var(--grey-color);
    border-radius: 8px;
    padding: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 300ms ease;
}

.language-switch {
    font-size: 2.6rem;
    letter-spacing: 1px;
    right: -36%;
    text-align: center;
}

.change-screen-btn:hover,
.help-btn:hover,
.language-switch:hover {
    color: var(--white-color);
    transform: translateY(-56%);
}

.change-screen-btn {
    font-size: 3.2rem;
    left: -20%;
}

.help-btn {
    font-size: 2rem;
    border: 2px solid var(--grey-color);
    right: -20%;
}

.help-btn:hover {
    border: 2px solid var(--white-color);
}

.help-modal {
    user-select: none;
    width: clamp(98rem, 78vw, 112rem);
    background-color: #332d2f;
    padding: 0;
    border: none;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.help-modal::backdrop {
    background-color: rgba(37, 37, 37, 0.425);
}

.help-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    /* padding: 0 4.6rem; */
}

.help-text {
    font-size: 2.5rem;
    font-weight: 400;
    word-spacing: 2px;
    color: var(--grey-color);
    /* margin: 4.2rem 0; */
    line-height: 1.4;
}

.help-strong-word {
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    border: var(--medium-brown-color) solid 0.3rem;
    border-radius: 0.6rem;
    height: 4.2rem;
    width: 9.6rem;
}

.help-example-list .heading-tertiary {
    font-size: 2.4rem;
    grid-column: 1 / span 5;
    align-self: center;
}

.help-letter-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.help-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--black-color);
    height: 5rem;
    width: 5rem;
    border-radius: 0.6rem;
}

.help-default-letter {
    background-color: transparent;
    border: 0.4rem solid var(--medium-brown-color);
}

.help-selected-letter {
    border-bottom: 0.8rem solid var(--medium-brown-color);
}

.help-green-letter,
.help-yellow-letter {
    border: none;
}

.help-green-letter {
    background-color: var(--green-color);
}

.help-yellow-letter {
    background-color: var(--yellow-color);
}

.help-letters-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
}

.help-letters-sections .heading-tertiary {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.help-black-section .heading-tertiary span {
    color: var(--black-color);
}

.help-yellow-letters .heading-tertiary span {
    color: var(--yellow-color);
}

.help-green-letters .heading-tertiary span {
    color: var(--green-color);
}

.help-yellow-green-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.help-result {
    max-width: 30rem;
}

.help-result-words {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.7rem;
    flex-wrap: wrap;
}

.help-result-words span {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--yellow-color);
    height: 3.4rem;
    width: 6.8rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}

/* Header
------------------------------------- */

/* Main
------------------------------------- */

.main-section {
    margin-top: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 4.2rem;
    color: var(--white-color);
    position: absolute;
    cursor: pointer;
    border-radius: 1.4rem;
    padding: 0.2rem;
    transition: all 280ms;
}

.arrow {
    top: 50%;
}

.left-arrow {
    left: -30%;
}

.left-arrow:hover {
    transform: scale(1.1);
}

.right-arrow {
    right: -30%;
}

.right-arrow:hover {
    transform: scale(1.1);
}

.letters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.6rem;
    column-gap: 0.6rem;
}

.letter-input {
    height: 8.4rem;
    width: 8.4rem;
    background-color: var(--light-brown-color);
    border: 0.68rem solid var(--dark-brown-color);
    border-radius: 1rem;
    font-size: 4.6rem;
    color: var(--white-color);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 140ms ease;
}

.editing-input {
    border-bottom: 1.2rem solid var(--dark-brown-color);
}

.black-section,
.yellow-section,
.green-section {
    position: relative;
}

.enter-btn {
    border: 0.48rem solid var(--dark-brown-color);
    border-radius: 1.2rem;
    background-color: var(--dark-brown-color);
    padding: 1.2rem 3.4rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: inherit;
    position: absolute;
    left: 50%;
    bottom: -70%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background-color 200ms ease, border 200ms ease;
    box-sizing: border-box;
}

.enter-btn:hover {
    background-color: var(--light-brown-color);
}

.enter-btn:active {
    border-color: var(--medium-brown-color);
    background-color: var(--medium-brown-color);
}

.reset-btn {
    font-size: 3rem;
    padding: 1.1rem;
    border: 0.48rem solid var(--dark-brown-color);
    border-radius: 1.2rem;
    background-color: var(--dark-brown-color);
    color: var(--white-color);
    position: absolute;
    left: 74%;
    bottom: -70.4%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 200ms ease;
}

.reset-btn:hover {
    background-color: var(--light-brown-color);
}

.reset-btn:active {
    border-color: var(--medium-brown-color);
    background-color: var(--medium-brown-color);
}

/* Black Section */

.black-title span {
    color: var(--black-color);
}

.main-section .black-section .filled-input {
    background-color: var(--black-color);
    border: none;
}

.black-section .arrow {
    top: 18.6%;
}

.black-section .arrow:hover {
    background-color: var(--black-color);
}

/* Yellow Section */

.yellow-title span {
    color: var(--yellow-color);
}

.main-section .yellow-section .filled-input {
    background-color: var(--yellow-color);
    border: none;
}

.yellow-section .arrow:hover {
    background-color: var(--yellow-color);
}

/* Green Section */

.green-title span {
    color: var(--green-color);
}

.main-section .green-section .filled-input {
    background-color: var(--green-color);
    border: none;
}

.green-section .arrow:hover {
    background-color: var(--green-color);
}

/* Main
------------------------------------- */

/* Result
------------------------------------- */

.result-modal {
    user-select: none;
    width: clamp(60rem, 64vw, 70rem);
    background-color: #312b2d;
    padding: 0;
    border: none;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.result-modal::backdrop {
    background-color: rgba(46, 46, 46, 0.4);
}

.result-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62vh;
    overflow: hidden;
}

.result-title {
    font-size: 4.2rem;
    margin-bottom: 5rem;
    word-spacing: 0.4rem;
}

.possible-words-box {
    display: flex;
    width: clamp(40rem, 50vw, 44rem);
    height: 34vh;
    gap: 0.8rem;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}

.possible-words-box::-webkit-scrollbar {
    display: none;
}

.possible-words-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--yellow-color);
    border-radius: 1rem;
    width: 10.2rem;
    height: 5.6rem;
    transition: all 180ms ease;
}

.possible-words-box span:hover {
    background-color: var(--green-color);
    transform: scale(1.028);
}

.load-more-btn {
    font-size: 4.2rem;
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 1rem;
    padding: 0.7rem 19.5rem;
    cursor: pointer;
    transition: all 180ms ease;
}

.load-more-btn:hover {
    background-color: #2e8276;
}

.close-btn {
    position: absolute;
    right: 2.6%;
    top: 3.2%;
    font-size: 4.2rem;
    color: var(--red-color);
    cursor: pointer;
    transition: all 180ms ease;
}

.close-btn:hover {
    transform: scale(1.08);
    color: var(--dark-red-color);
}

/* Result
------------------------------------- */

/* Footer
------------------------------------- */

.footer {
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    left: 0.6%;
    bottom: 0.6%;
}

.footer-icon {
    font-size: 1.2rem;
    color: var(--black-color);
    margin-right: 0.2rem;
}
